<head>



<script src="jquery-2.11.1.js"></script>
<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script src="javascripts/chat.js"></script>
<script src="javascripts/chat_ui.js"></script>




</head>
<body>
  <div id="message"></div>

<form id="chat">
 <label> <input type="text area" id="message"> Input Your Message Here </label>
 <button type="button">Chat</button>
</form>
</body>